<suite name="Automation Suite" parallel="tests" thread-count=2>
    <test name="Smoke Tests">
        <classes>
            <class name="runners.SmokeRunner"/>
        </classes>
    </test>

    <test name="Regression Tests">
        <classes>
            <class name="runners.RegressionRunner"/>
        </classes>
    </test>
</suite>
